/*REFACTOR-> SERVE POR EXEMPLO PARA QUANDO EU PASSAR O MOUSE EM CIMA DA BANDEIRA DO PAIS
OU DO HORARIO, POR EXEMPLO, ELE IRA FAZER UM TIPO DE ANIMAÇÃO, SUBIR A BANDEIRA PRA CIMA,
AUMENTAR O TAMANHO DELA, ENTRE OUTRAS ANIMAÇÕES*/
/*---------------------------------------------------------------------------------------*/

/*ANIMAÇÃO -> ELA FUNCIONA DE FORMA PARECIDA COM A TRANSIÇÃO, MAS PRIMEIRO CRIAR UMA ANIMÇÃO UTILIZANDO O @keyframes  */

/*---------------------------------------------------------------------------------------*/

/*RESPONSIVIDADE -> ADAPTAÇÃO DE TUDO QUE EU FIZER PARA DISPOSITIVOS MOVEIS OU DESKTOPS, FAZEMOS ISSO ATRAVES DA @MEDIA(){}  */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*PODEMOS COLOCAR AS CORES COMO VARIAVEIS*/

/*root -> esse seletor seleciona a raiz do html e vai aplicar as cores que eu aplicar*/
:root {
  --card-titulo-borda-cor: #746615;
  --card-cor-primaria: #f7dd43;
  --card-fundo-cor: #1d1c19;
  --bg: url(./assets/bg-yellow.svg)
}

/*ORGANIZANDO PARA COLOCAR UMA CLASSE NO MEU BODY*/
body.blue {
    --card-titulo-borda-cor: #338AF3;
  --card-cor-primaria: #338AF3;
  --card-fundo-cor: #16162b;
   --bg: url(./assets/bg-blue.svg)
}

body.green {
   --card-titulo-borda-cor: #047c3f;
  --card-cor-primaria: #047c3f;
  --card-fundo-cor: #091c0c;
   --bg: url(./assets/bg-green.svg)
}

ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: var(--bg);

  /*MESMA COISA DE EU COLOCAR Y TOP E X CENTER*/
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  font-family: 'Roboto', sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  /*COLOCANDO UM AO LADO DO OUTRO*/
  display: flex;

  /*COLOCANDO UM ABAIXO DO OUTRO NOVAMENTE*/
  flex-direction: column ;

  /*ESPAÇO ENTRE ELES*/
  gap: 33px;
}

.card {
  /*O PRIMEIRO ALTERA A PARTE DE CIMA E O SEGUNDO A PARTE DEBAIXO*/
  padding: 32px 23px;
  text-align: center;

  /*Cor do fundo*/
  background:  var(--card-fundo-cor);

  /*ALTERA A BORDA DA PARTE DEBAIXO SOMENTE*/
  border-bottom: 2px solid var(--card-cor-primaria);

  /*PARA DEIXAR A BORDA REDONDA*/
  border-radius: 6px;
}

.card h2 {

  /*FAZ COM QUE AS PROPRIEDADES FIQUEM COLADAS UMA DO LADO DA OUTRA*/
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;

  /*PREENCHIMENTO*/
  padding: 8px 32px;
  border: 1px solid var(--card-titulo-borda-cor);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #f7dd43;
}

/*EXEMPLO DE ESPECIFICIDADE*/
.card h2 span {
  color: #E1E1E6;
  font-size: 14px;

  /*TUDO EM LETRA MAIUSCULA*/
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  /*LARGURA DA CAIXA*/
  width: 270px;
}

.card ul li {
  /*Para ele desbloqeuar propriedades para mim*/
  display: flex;
  align-items: center;

/*ESPAÇO ENTRE OS ELEMENTOS*/
  justify-content: space-between;
}

/*VAI PEGAR O LI ANTERIOR.*/
.card ul li + li {
  padding-top:25px;
  border-top: 1px solid #323238;
}

.card ul li strong{
  font-weight: 900;
  font-size: 35px;
  line-height: 125%;

  color: #E1E1E6;
}

/*A virgula significa que eu estou agrupando dois seletores para receber as mesmas coisas*/
.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.2);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}


.card {
  animation: appear .2s;
}

/*ANIMAÇÃO*/

/*REGRINHA CRIADA*/
@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*AQUI EU ESTOU DIZENDO QUE DA LARGURA MINIMA DE 400PX, EU VOU APLICAR O FLEX-DIRECTION VAI SER EM LINHA */
@media (min-width: 400px) {
  #cards {
    /*aqui estou dizendo que a largura maxima da minha caixa #cards é de 700px*/
    max-width: 700px;

    /*estou deizendo que os cards ficaram um do lado do outro*/
    flex-direction: row;

    /*esse metodo define que após a largura maxima ser atingida o proximo conteudo vai para baixo(o proximo card vai para baixo)*/
    flex-wrap: wrap;
  }
}

